body {
  margin: 10%;
  box-shadow: 0 0 5px 3px grey;
  border-radius: 7px;
  font-family: karla; 
  font-size: 16px;
}

.container {
  padding-top: 3px;
}

.container-2 {
  display: flex;
  color: white;
}

.box-1 {
  background-color: rgb(42,178,175);
  width: 50%;
  border-radius: 0 0 0 7px;
}

.box-2 {
  background-color: rgba(42,178,175, 70%);
  width: 50%;
  border-radius: 0 0 7px 0;
}

.content {
  margin: 20px;
}

.light-grey, .price {
  display: inline;
  margin-right: 10px;
}

.grey {
  color: hsl(218, 22%, 67%)
}

.light-grey {
  color: hsl(204, 43%, 93%);
}

.bullets {
  line-height: 5px;
  font-size: 0.8rem;
  opacity: 0.7;
}

h2 {
  color: rgb(42,178,175); 
}

.yellow {
  color: hsl(71, 73%, 54%)
}

button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  color: white;
  background-color: hsl(71, 73%, 54%);
}

button:hover {
  cursor: pointer; 
  transform: scale(1.02);
  background-color: rgba(192,223,52, 80%);
}

.price {
  font-size: 32px;
  font-weight: 700;
}

.light-grey {
  position: relative;
  top: -5px;
  opacity: 0.8;
}
